body {
  font-family: sans-serif;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  vertical-align: top;
}

.red {
  color: #c00;
}

.blue {
  color: #00c;
}

.gray {
  color: #aaa;
}

.error {
  color: #c00;
}
